div.jContent
{
	float: left;
		
}

div.slides
{	
	/*background-color: #e6e5e0;*/
	height:390px;	
}

div.jContent p
{
	padding: 0px 0px 0px 0px;	
	margin: 0px 0px 0px 0px;
}

div.jContent a
{
	float: left;
	display: block;	
}

div.jContent a.hide
{
	visibility: hidden;
}

/* horizontal */
div.jc-horizontal
{
	margin: 10px 10px 20px 10px; 
}


div.jc-horizontal a
{
	width: 35px;
	height: 34px;
}



/* vertical */
div.jc-vertical
{
	margin: 10px 10px 20px 15px; 
}


div.jc-vertical a
{
	width: 655px; 
	height: 34px;
}

div.jc-vertical a.prev
{
	margin: 0px 0px 5px 0px;
	background: url('../images/wup.png') no-repeat top center;
}

div.jc-vertical a.prev:hover
{
	background: url('../images/bup.png') no-repeat top center;
}

div.jc-vertical a.next
{
	margin: 5px 0px 0px 0px;
	background: url('../images/wdown.png') no-repeat top center;
}

div.jc-vertical a.next:hover
{
	background: url('../images/bdown.png') no-repeat top center;
}

/* auto and circle */
div.jc-auto
{
	margin: 20px 0px 40px 63px; 
}


div.js-circle
{
	
}

